/* Start Box */
.d-flex {
  display: flex;
}
.al-center {
  align-items: center;
}
.js-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-20 {
  gap: 20px;
}
.f-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.js-between {
  justify-content: space-between;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid;
}
/* End Box */
/* Colors */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: #0075ff;
}
.bg-red {
  background-color: #f44336;
}
.bg-green {
  background-color: #22c55e;
}
.bg-orange {
  background-color: #f59e0b;
}
.c-black {
  color: black;
}
.c-gray {
  color: #888;
}
.c-orange {
  color: #f59e0b;
}
.c-blue {
  color: #0075ff;
}
.c-red {
  color: #f44336;
}
.c-green {
  color: #22c55e;
}
/* Padding and Margin */
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-15 {
  margin: 15px;
}
.mt-0 {
  margin-top: 0;
}
.mt-15 {
  margin-top: 15px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* Position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* Text */
.txt-center {
  text-align: center;
}
.font-normal {
  font-size: 1rem;
}
.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-25 {
  font-size: 25px;
}
.f-bold {
  font-weight: bold;
}
.f-medium {
  font-weight: 500;
}
/* Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-full {
  border-radius: 50%;
}
/* Width */
.mw-100 {
  max-width: 100%;
}
.w-full {
  width: 100%;
}
.o-hidden {
  overflow: hidden;
}
.w-40 {
  width: 40px;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-shape {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 10px;
}
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .txt-c-mobile {
    text-align: center;
  }
}
