/* Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
*:focus {
  outline: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
/* Start Components */
.content .events .main-heading {
  line-height: 1.8;
  font-size: 21px;
}
.content .events .second-par {
  display: block;
  margin-bottom: 15px;
  color: var(--grey-color);
}
.event-standards {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}
/* End Components */
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  .sidebar {
    width: 55px;
    padding: 5px 5px 0 0;
  }
}
.sidebar > h3 {
  margin-bottom: 50px;
}

.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
}
.sidebar > h3::before {
  width: 100px;
  height: 2px;
}
.sidebar > h3::after {
  width: 12px;
  height: 12px;
  bottom: -27px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebar .links li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar .links li a:hover,
.sidebar .links li a.active {
  background-color: #f6f6f6;
}
.sidebar .links li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar .links li a span {
    display: none;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar .links li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar > h3 {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.content {
  flex: 1;
}
/* Start header */
.header {
  justify-content: space-between;
  background-color: white;
}
.header .search {
  padding: 20px;
}
.header .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 28px;
  color: var(--grey-color);
}
.header .search > input {
  padding: 10px 0px 10px 30px;
  border-radius: 6px;
  border: 1px solid #d7cece;
  outline: none;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .header .search > input {
    width: 140px;
  }
}
.header .search > input:focus {
  padding-right: 20px;
}

.header .info {
  justify-content: flex-end;
  gap: 20px;
  padding-right: 20px;
}
.header .info img {
  width: 40px;
}
.header .info > i::after {
  content: "";
  position: absolute;
  background: var(--red-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -15px;
  right: -5px;
}
/* For The Scroll Bar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar:hover {
  background-color: var(--blue-alt-color);
}
/* End header */
/* Start Title */
.title::before,
.title::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 23px;
  height: 2px;
}
.title::before {
  width: 130px;
  background: white;
}
.title::after {
  background: black;
  width: 50px;
}
/* End Title */
/* Start Events  */
.events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  grid-template-rows: 400px;
}
.events .box .welcome {
  z-index: 1;
}
.events .box .welcome::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background: #eee;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}
.events .box .welcome img {
  width: 180px;
}
.events .box .welcome .text {
  margin-bottom: 25px;
  flex: 1;
}
/* .events .box .welcome .text h3 {
  line-height: 1.8;
  font-size: 25px;
} */
.events .box .welcome .text span {
  color: var(--grey-color);
}
.events .box > img {
  width: 60px;
  position: relative;
  bottom: 10px;
  border: 4px solid white;
  z-index: 1;
  border-radius: 50%;
}
.events .box .stats::before,
.events .box .stats::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eee;
}
.events .box .stats::before {
  top: -5px;
  width: calc(100% + 50px);
  left: -25px;
}
.events .box .stats::after {
  bottom: -5px;
  width: calc(100% + 50px);
  left: -25px;
}
.events .box .stats .info {
  text-align: center;
  line-height: 2;
}
.events .box .stats .info h4 {
  font-weight: 600;
}
.events .box > .links {
  justify-content: flex-end;
}
.events .box > .links > a {
  padding: 5px 10px;
  background: var(--blue-color);
  color: white;
  margin-top: 10px;
  transition: all ease 0.3s;
}
.events .box > .links > a:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 768px) {
  .events .box > img {
    margin-inline: auto;
  }
}
.events .draft > h3 {
  font-size: 25px;
  line-height: 1.8;
}

.events .draft .input {
  padding: 10px;
  width: 100%;
  display: block;
  border-radius: 6px;
  background: #eee;
  margin-bottom: 15px;
  border: 1px solid #e2e2e2;
}
.events .draft textarea {
  display: block;
  resize: none;
  height: 180px;
  width: 100%;
  border-radius: 6px;
  background: #eee;
  border: 1px solid #e2e2e2;
  padding: 10px;
  line-height: 1.5;
}
.events .draft input[type="submit"] {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  padding: 10px;
  border: none;
  color: white;
  background: var(--blue-color);
  border-radius: 6px;
  cursor: pointer;
}
/* Start Activites */
.events .target .targets li {
  margin-bottom: 15px;
  gap: 15px;
}
.events .target .targets li i.dollar {
  width: 80px;
  background-color: rgb(0 117 255 / 40%);
  color: var(--blue-color);
  font-size: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events .target .targets li i.code {
  font-size: 20px;
  background: rgb(245 158 11 / 40%);
  color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.events .target .targets li i.user {
  font-size: 20px;
  color: var(--green-color);
  background: rgb(34 197 94 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.events .target .targets li .info {
  flex: 1;
}
.events .target .targets li .info span:first-child {
  color: var(--grey-color);
}
.events .target .targets li .info span:nth-child(2) {
  margin-bottom: 10px;
  margin-top: 5px;
}

.events .target .targets li .info .progress-holder {
  width: 100%;
  height: 5px;
}
.events .target .targets li .info .progress-holder span {
  position: relative;
}
.events .target .targets li .info .progress-holder span::before {
  content: attr(data-progress);
  position: absolute;
  right: -16px;
  bottom: 16px;
  font-size: 13px;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}
.events .target .targets li .info .progress-holder span::after {
  content: "";
  border: 12px solid;
  right: -10px;
  position: absolute;
  bottom: -3px;
}
.events .target .targets li .info .first span::after {
  border-color: var(--blue-color) transparent transparent transparent;
}
.events .target .targets li .info .second span::after {
  border-color: var(--orange-color) transparent transparent transparent;
}
.events .target .targets li .info .third span::after {
  border-color: var(--green-color) transparent transparent transparent;
}
.events .target .targets li .info .first span::before {
  background-color: var(--blue-color);
}
.events .target .targets li .info .second span::before {
  background-color: var(--orange-color);
}
.events .target .targets li .info .third span::before {
  background-color: var(--green-color);
}
.events .target .targets li .info .first {
  background-color: rgb(0 117 255 / 40%);
}
.events .target .targets li .info .first span {
  background-color: var(--blue-color);
  height: 5px;
}
.events .target .targets li .info .second {
  background: rgb(245 158 11 / 40%);
}
.events .target .targets li .info .second span {
  height: 5px;
  background: var(--orange-color);
}
.events .target .targets li .info .third {
  background: rgb(34 197 94 / 40%);
}
.events .target .targets li .info .third span {
  height: 5px;
  background-color: var(--green-color);
}
/* End Activites */
/* Start Tickets */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .tickets > div {
    flex-direction: column;
  }
  .tickets .box {
    width: 100%;
  }
}
/* End Tickets */
/* Lates News */
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  width: 90px;
  border-radius: 6px;
  margin-right: 10px;
}
.latest-news .news-row .info {
  flex: 1;
}
.latest-news .info h3 {
  margin: 0 0 6px;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .latest-news .news-row {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .latest-news .news-row .info {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .latest-news .news-row:first-child {
    margin-top: 10px;
  }
}
/*Lates Tasks */
.tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .info {
  flex-grow: 1;
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
.tasks .delete {
  transition: 0.3s all ease;
}
.tasks .delete:hover {
  color: var(--red-color);
}
/* Latest Uploads */
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
/* Last Project */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project ul li {
  font-weight: 500;
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}

@keyframes change-color {
  from {
    background-color: white;
  }
  to {
    background-color: var(--blue-color);
  }
}
/* Remiders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}

/* Latest Post */
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* Social Media */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
  display: flex;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0077b5;
}
/* End Events  */
